@model MovieHubCore.Models.Movie

<h2>Edit</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="MovieId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <!-- Додайте інші поля форми -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
